body { 
    background-color: #bff7ef;
    padding-bottom: 20px;
  }
  
  h1 {
    font-family: 'Recursive', sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
    text-decoration: underline;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    position: relative;
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .results {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .results li {
    background: linear-gradient(rgb(226, 192, 117), rgb(230, 213, 215));
    border-bottom: 1px solid #eb9b9b;
    margin: 0;
    padding-bottom: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    width: 275px;
  }
  
  
  span.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
  }
  
  span.category {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
  }
  
  span.address {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
  }
   
  li {
      background-color: yellow;
  }

  .column-background {
      background-color: goldenrod;
  }